# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/releases
/key.pem

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
*.log
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
