# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/artifacts
/tmp
/out-tsc

# dependencies
/node_modules
/yarn-taobao.lock
/yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# 上架审核源码打包 防止误传
/EhSyringeLite.zip

# 编译密钥
# /key.pem

# 打包目录
/release
