td.tc {
    white-space:nowrap;
}

div.gt, div.gtl {
    height: 16px;
    line-height: 16px;
    white-space:nowrap;
}

textarea[name=expungexpl] { 
    display: block;
}



body {

    h1#gj {
        margin: 3px 4px;
    }
    div#gright {
        z-index: 3;
    }
    .g2 {
        padding-bottom: 20px;
    }
    .gsp {
        padding-top: 10px;
    }
    div.gtl, div.gtw, div.gt{
        overflow: hidden;
        height: 16px;
        line-height: 16px;
    }
    div#gmid {
        height: auto;
    }
    p.gpc-translate {
        margin: -3px auto;
        text-align: center;
        padding: 0px 5px 5px 5px;
        clear: both;
        font-size: 9pt;
    }
}

@media screen and (max-width: 990px) {
    p.gpc-translate {
        margin-top: 25px;
        visibility: hidden !important;
    }
}
