<!doctype html>
<html lang="en" style="margin: 0; padding: 0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EhSyringe</title>
</head>
<body style="margin: 0; padding: 4px;">
<div style="width: 200px; margin: auto;">
    <div class="logo-box">
        <div class="logo">
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
                <defs>
                    <clipPath id="clip-针筒">
                        <rect width="200" height="200"/>
                    </clipPath>
                </defs>
                <g id="针筒" clip-path="url(#clip-针筒)">
                    <g id="PushRod">
                        <g id="推杆" transform="translate(-39 -312)">
                            <g id="矩形_4" data-name="矩形 4" transform="translate(131 403)" fill="#fff" stroke="#7836a0" stroke-width="6">
                                <rect width="78" height="18" rx="6" stroke="none"/>
                                <rect x="3" y="3" width="72" height="12" rx="3" fill="none"/>
                            </g>
                            <g id="矩形_5" data-name="矩形 5" transform="translate(203 391)" fill="#fff" stroke="#7836a0" stroke-width="6">
                                <rect width="18" height="43" rx="9" stroke="none"/>
                                <rect x="3" y="3" width="12" height="37" rx="6" fill="none"/>
                            </g>
                        </g>
                    </g>

                    <g id="管体背景" transform="translate(56 85)" fill="#fff" stroke="#7836a0" stroke-width="6">
                        <rect width="83" height="30" rx="6" stroke="none"/>
                        <rect x="3" y="3" width="77" height="24" rx="3" fill="none"/>
                    </g>
                    <rect id="Enema" width="5" height="27" transform="translate(61 86)" fill="#fdbdf1"/>
                    <path id="液体A" d="M27.426,86.36s5.65.007,13.6.006S57.64,83.357,57.64,83.357L38.015,102.982,24.409,89.377l3.015-3.015Z" transform="translate(107.906 10.036) rotate(45)" fill="#fdbdf1"/>
                    <g id="针筒-前景" transform="translate(-39 -312)">
                        <g id="管体" transform="translate(95 397)" fill="none" stroke="#7836a0" stroke-width="6">
                            <rect width="83" height="30" rx="6" stroke="none"/>
                            <rect x="3" y="3" width="77" height="24" rx="3" fill="none"/>
                        </g>
                        <g id="连接" transform="translate(82 403)" fill="#fdbdf1" stroke="#7836a0" stroke-width="6">
                            <rect width="19" height="18" rx="6" stroke="none"/>
                            <rect x="3" y="3" width="13" height="12" rx="3" fill="none"/>
                        </g>
                        <rect id="针头" width="29" height="6" rx="3" transform="translate(58 409)" fill="#7836a0"/>
                        <g id="把手" transform="translate(172 381)" fill="#fff" stroke="#7836a0" stroke-width="6">
                            <rect width="18" height="62" rx="9" stroke="none"/>
                            <rect x="3" y="3" width="12" height="56" rx="6" fill="none"/>
                        </g>
                        <g id="刻度1" transform="translate(119 398)" fill="#fff" stroke="#7836a0" stroke-width="3">
                            <rect width="4" height="11" rx="2" stroke="none"/>
                            <rect x="1.5" y="1.5" width="1" height="8" rx="0.5" fill="none"/>
                        </g>
                        <g id="刻度2" transform="translate(131 398)" fill="#fff" stroke="#7836a0" stroke-width="3">
                            <rect width="4" height="11" rx="2" stroke="none"/>
                            <rect x="1.5" y="1.5" width="1" height="8" rx="0.5" fill="none"/>
                        </g>
                        <g id="刻度3" transform="translate(144 398)" fill="#fff" stroke="#7836a0" stroke-width="3">
                            <rect width="4" height="11" rx="2" stroke="none"/>
                            <rect x="1.5" y="1.5" width="1" height="8" rx="0.5" fill="none"/>
                        </g>
                        <g id="刻度4" transform="translate(156 398)" fill="#fff" stroke="#7836a0" stroke-width="3">
                            <rect width="4" height="11" rx="2" stroke="none"/>
                            <rect x="1.5" y="1.5" width="1" height="8" rx="0.5" fill="none"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div id="info"></div>
    </div>
    <table>
        <tr>
            <th>TAG版本:</th>
            <td><span id="sha" class="monospace"> --- </span></td>
        </tr>
        <tr>
            <th>上次更新:</th>
            <td><span id="updateTime" class="monospace"> --- </span></td>
        </tr>
        <tr>
            <th>更新检查:</th>
            <td><span id="checkVersion" class="monospace"> --- </span></td>
        </tr>
    </table>
    <button class="big-button" id="updateButton">更新</button>
</div>

<script src="../script/popup.js"></script>
</body>
</html>
