name: ci

on:
  push:
    branches-ignore: [release]
    tags: ['*']
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/upload-artifact@v3
        with:
          name: releases
          path: |
            README.md
            README.userscript.md
            LICENSE
      - name: Install
        uses: NullVoxPopuli/action-setup-pnpm@v2
        with:
          node-version: 18
          pnpm-version: 8
      - name: Build
        run: |
          pnpm run build:firefox
          pnpm run build:chrome
          pnpm run build:monkey
      - uses: actions/upload-artifact@v3
        with:
          name: releases
          path: releases/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.event.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v4
        with:
          ref: release
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: releases
      - name: Publish github release
        uses: ncipollo/release-action@v1.13.0
        with:
          allowUpdates: true
          artifacts: '*'
          replacesArtifacts: true
          generateReleaseNotes: true
          body: |
            [更新日志](https://github.com/EhTagTranslation/EhSyringe/blob/master/CHANGELOG.md)
          prerelease: ${{ contains(github.event.ref, '-') }}
      - name: Commit release mirror
        run: >
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          && git config user.name 'github-actions[bot]'
          && git add .
          && git commit -am 'Release for https://github.com/EhTagTranslation/EhSyringe/tree/${{ github.event.ref }}'
      - name: Push to release branch
        uses: ad-m/github-push-action@master
        with:
          branch: release
